.loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 12;
    top: 0;
    left: 0;
    background-color: #00000099;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading p {
    color: white;
    font-size: 1.3rem;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #FF5722;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #FF5722 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**********************************************************************/
/**********************************************************************/
/**********************************************************************/
.message-box {
    display: none;
    position: fixed;
    width: 70%;
    background-color: #ffffff;
    left: 15%;
    top: 50%;
    text-align: center;
    border: 1px solid #FF9800;
    box-shadow: 1px 2px 8px #9c9c9c;
    border-radius: 5px;
    z-index: 12;
}

.message-box .message-title {
    background-color: #fff;
    width: 100%;
    display: block;
    font-size: 2.5rem;
    padding: 5px;
    border-bottom: 1px solid #e6bcae;
    border-radius: 5px;
    color: #212121;
}
.message-text {
    color: #212121;
    text-align: right;
    padding: 15px;
    font-size: 1.7rem;
}
.message-button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-message-confirm {
    color: white;
    background-color: #4CAF50;
    padding: 5px 20px 5px 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
