.register-button-box {
    width: 100%;
    padding: 10px;
}

.help-video {
    width: 100%;
    margin-top: 70px;
}

.app-screen-shot-title {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'aviny';
    color: #253338;
    margin-top: 110px;
    margin-bottom: 40px;
    display: block;
}

.logo-box img {
    width: 120px;
}

.logo-box {
    text-align: center;
    margin-bottom: 20px;
}

label.label-form {
    font-family: 'aviny';
    margin-left: 0px;
    font-size: 1.5rem;
    margin-right: 30px;
}

span.label-form {
    font-family: 'aviny';
    margin-left: 10px;
    font-size: 1.5rem;
    margin-right: 30px;
}


.mobile-video {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 673px;
    display: block;
}

.mobile-video img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: -10px;
}

.help-video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 1 !important;
    margin-top: 30px;
    display: block;
    padding: 10px;
}

.main-content {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

p {
    font-family: aviny;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.banner_title {
    color: white;
    font-size: 1.3rem;
    text-align: end;
    /* margin-left: 50px; */
    display: inline-block;
    font-family: 'aviny';
}

.main-content img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

div#accordion {
    margin-top: 100px;
}

.card-header {
    padding: 0;
}

.btn-link {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px;
    color: #424242;
    font-size: 1.5rem;
    font-family: 'aviny';
}

.btn-link i {
    font-size: 1.3rem;
    margin-left: 10px;
}

.btn-link:hover {
    text-decoration: none !important;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none !important;
}

.card-body {
    font-family: 'aviny';
    font-size: 1.5rem;
}

.card-body p {
    font-family: 'aviny';
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 47px;
}
