.table-header {
    font-weight: bold;
}

body {
    background: none !important;
}

.dark-column {
    font-weight: bold !important;
}

button.print:hover {
    border-color: white;
    background-color: #ff5722;
    color: white;
}

button.print {
    border: 1px solid #ff5722;
    position: relative;
    /* top: 10px; */
    /* left: 15px; */
    padding: 5px 40px 5px 40px;
    color: #ff5722;
    background-color: white;
    font-size: 10vw;
    transition: 0.7s;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 80%; */
    /* height: 80%; */
    text-align: center;
    margin-bottom: 5rem;
}

button.print i {
    font-size: 30.5vw;
}

p.header-title {
    font-size: 4.5vw;
    color: #546E7A;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.description-data {
    height: 200px;
}

.left-direct {
    direction: ltr;
}


table.table tr td {
    border: 1px solid white;
    background-color: #6a6765;
    color: white;
}

.td-right {
    text-align: right;
}

.print-content {
    display: none;
}

.item-content {
    background-color: #E0E0E0;
    border-radius: 15px;
    border: 1px solid white;
    margin-bottom: 80px;
    box-shadow: 1px 2px 10px #938e8e;
}

.item-content.no-radius {
    border-radius: 0 !important;
}


.table_main_header {
    text-align: center;
    background-color: #E0E0E0;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #37474F;
    font-family: 'aviny';
    box-shadow: 1px 2px 9px #c8c8c8;
    margin-bottom: 15px;
}

.table_main_header h4 {
    font-size: 2.5rem;
}

.item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-field {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    /* margin-bottom: 10px; */
    /* margin-top: 5px; */
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #cecece;
    /* padding: 10px; */
    /* margin-left: 10px; */
    /* background-color: #4e4d4d; */
    color: white;
}

.item-data {
    width: 60%;
    border-right: 1px solid #BDBDBD;
    text-align: right;
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #263238;
}

.item-row:last-child .item-field {
    border: 0;
}
.item-row:last-child .item-header {
    border-bottom-right-radius: 15px;
}
.item-field:last-child {
    margin-left: 0;
    border-left: 0;
}

button.print:hover {
    border-color: white;
    background-color: #ff5722;
    color: white;
}

button.print {
    border: 1px solid #ffffff;
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 5px 7px 3px 7px;
    color: #ffffff;
    background-color: #5d5d5d;
    font-size: 1.7rem;
    transition: 0.7s;
}

.description-data {
    height: 200px;
}

.green-text {
    color: green !important;
}

.item-header {
    width: 40%;
    text-align: center;
    line-height: 50px;
    background-color: #BDBDBD;
    color: #263238;
}

.item-row:first-child .item-header {
    border-top-right-radius: 15px;
}
.main-logo img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 3px 9px #b5b2b2;
}

.main-logo {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}











.item-top-header {
    text-align: center;
    margin-top: 50px;
    background-color: #e0e0e0;
    padding: 10px;
    color: #37474F;
    font-size: 1.7rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;
}
.item-min-header {
    width: 50%;
    text-align: center;
    background-color: #EEEEEE;
    padding: 10px;
    color: #37474F;
}
.item-min-data {
    width: 50%;
    background-color: #e0e0e0;
    text-align: center;
    padding: 10px;
    color: #37474F;
}
.item-min-data:first-child
{
    width: 50%;
    background-color: #bdbdbd;
    text-align: center;
    padding: 10px;
    color: #37474F;
}


.image-box img {
    width: 100%;
}
.image-header {
    text-align: center;
    background-color: #E0E0E0;
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #37474F;
    font-family: 'aviny';
    box-shadow: 1px 2px 9px #c8c8c8;
    margin-bottom: 15px;
    font-size: 2.5rem;
}
.item-min-content {
    box-shadow: 1px 2px 9px #737373;
    border-radius: 10px;
}


/*************************************************************/
/*************************************************************/
/*************************************************************/

@media print {
    .edge-a span {
        position: absolute;
        top: 0px;
        left: calc(50% - 5px);
    }

    .edge-a {
        width: 44px;
        height: 44px;
        border: 1px solid black !important;
        border-top: 5px solid black !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .edge-b span {
        position: absolute;
        top: calc(50% - 8px);
        right: 4px;
    }

    .edge-b {
        width: 44px;
        height: 44px;
        border: 1px solid black !important;
        border-right: 5px solid black !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .edge-c span {
        position: absolute;
        bottom: 0px;
        left: calc(50% - 5px);
    }

    .edge-c {
        width: 44px;
        height: 44px;
        border: 1px solid black !important;
        border-bottom: 5px solid black !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }


    .edge-d span {
        position: absolute;
        top: calc(50% - 8px);
        left: 4px;
    }

    .edge-d {
        width: 44px;
        height: 44px;
        border: 1px solid black !important;
        border-left: 5px solid black !important;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}


.edge-a span {
    position: absolute;
    top: 0px;
    left: calc(50% - 5px);
    display: none;
}

.edge-a {
    width: 64px;
    height: 64px;
    border: 3px solid #78909C;
    border-top: 10px solid #37474F;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edge-b span {
    position: absolute;
    top: calc(50% - 8px);
    right: 4px;
    display: none;
}

.edge-b {
    width: 64px;
    height: 64px;
    border: 3px solid #78909C;
    border-right: 10px solid #37474F;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edge-c span {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 5px);
    display: none;
}

.edge-c {
    width: 64px;
    height: 64px;
    border: 3px solid #78909C;
    border-bottom: 10px solid #37474f;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.edge-d span {
    position: absolute;
    top: calc(50% - 8px);
    left: 4px;
    display: none;
}

.edge-d {
    width: 64px;
    height: 64px;
    border: 3px solid #607D8B;
    border-left: 10px solid #37474F;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
