body
{
    /*background-image: url(../images/back_texture.png);*/
}
.ml-100 {
    margin-left: 100px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}
/*************************************************/
.mr-100 {
    margin-right: 100px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}
/*****************************************/
.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}
/***********************************/
.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}
.sidenav_back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.31);
    z-index: 11;
}
.form-group {
    display: flex;
}
.form-step-box {
    padding: 5rem;
}

.form-group label {
    color: #6c6c6c;
}

.image_box img {
    width: 150px;
    margin-left: 20px;
    border: 1px solid #d8d8d8;
    max-height: 150px;
}

.select2-container .select2-selection--single
{
    height: 35px !important;
    padding: 2px !important;
}
/*****************************************************************/
/*****************************************************************/
/*****************************************************************/
.select-list {
    display: none;
    position: fixed;
    width: 300px;
    background-color: white;
    right: calc(50% - 150px);
    top: calc(50vh - 20rem);
    /*top: 10rem;*/
    z-index: 12;
    border: 3px solid #E64A19;
    overflow-x: hidden;
}

.select-list ul {
    list-style: none;
    padding: 0;
    max-height: 45vh;
    overflow-y: scroll;
    height: 250px;
}

.select-list ul li {
    text-align: center;
}

.select-list ul li a {
    font-size: 1.4rem;
    color: black;
    background-color: #ffffff;
    display: block;
    margin-top: 5px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    padding: 1.3rem;
    /* border: 1px solid #d4d4d4; */
    border-bottom: 1px solid #dcdbdb;
    text-decoration: none;
    transition: 0.7s;
}

.select-list ul li a:hover
{
    color: white;
    background-color: #E64A19;
}



.select-list h6 {
    background-color: #E64A19;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.8rem;
}
/********************************************************************/
/********************************************************************/
/********************************************************************/
.map-box {
    height: 300px;
    width: 100%;
    border: 1px solid #ff7b51;
    z-index: 0;
    position: relative;
    padding: 7px;
}


/******************************************************************/
/******************************************************************/
/******************************************************************/
.validate-error {
    display: none;
}

.choose-map-box {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.btn-choose-map {
    background-color: #4682b4;
    color: white;
    display: block;
    padding: 1.5rem;
}

.sender-time-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.sender-from-time-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}

.sender-from-time-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}

.sender-from-time-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}

.sender-to-time-box {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.sender-to-time-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}

.sender-to-time-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}

.sender-date-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.sender-from-date-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}

.sender-from-date-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}

.sender-from-date-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}

.sender-to-date-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}

.sender-to-date-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}

.sender-to-date-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}

.delivery-time-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.delivery-from-time-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}
.delivery-from-time-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}
.delivery-from-time-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}
.delivery-to-time-box {
    display: flex;
    flex-direction: row;
    width: 50%;
}
.delivery-to-time-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}
.delivery-to-time-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}
.delivery-date-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.delivery-from-date-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}
.delivery-from-date-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}
.delivery-from-date-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}
.delivery-to-date-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2px;
}
.delivery-to-date-box span {
    width: 7rem;
    font-size: 1.3rem;
    margin-top: 5px;
}
.delivery-to-date-box input {
    width: calc(100% - 8rem);
    border: 1px solid #ff7b51;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: #ff7b51;
    font-size: 1.3rem;
}

/*************************************************/
/*************************************************/
/*************************************************/
.main-content
{
    display: none;
}

.btn-orange
{
    width: 100px;
    background: #ff7b51;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin-left: 10px;
    border: 1px solid;
    transition: 0.7s;
}

.btn-orange:hover {
    background-color: white;
    color: #4682b4;
}


.btn-dark
{
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    border: 1px solid;
    transition: 0.7s;
}

.btn-dark:hover {
    background-color: white;
    color: #616161;
}

.btn-cancel {
    width: 100px;
    background: #dc3545;
    font-weight: bold;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin-right: 10px;
    transition: 0.7s;
    text-decoration: none !important;
    border: 1px solid;
}

.btn-cancel:hover {
    background-color: white;
    color: #dc3545;
}


.order-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.order-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #bf6446;
    align-items: flex-start;
    position: relative;
    background-color: #ffffffab;
    border-radius: 0;
}
.order-details:after {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 100px);
    background-color: #c7c7c7;
}

.order-rent-card-content {
    width: calc(50% - 1rem);
    position: relative;
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
}
.order-rent-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-rent-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-card-content {
    width: calc(50% - 1rem);
    position: relative;
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}
.order-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-sender-card-content {
    width: calc(50% - 1rem);
    position: relative;
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}
.order-sender-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-sender-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-delivery-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-delivery-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-complete-card-content {
    width: calc(50% - 1rem);
    position: relative;
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}
.order-complete-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-complete-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-picture-card-content {
    width: calc(50% - 1rem);
    position: relative;
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}
.order-picture-card-title {
    /*position: absolute;*/
    /*top: -25px;*/
    /*right: 10px;*/
}
.order-picture-card-title h6 {
    border-bottom: 1px solid #bf6446;
    color: #020202;
    font-size: 1.3rem;
    padding: 7px 15px 7px 15px;
    border-radius: 3px;
    background-color: #ff57225c;
}
.order-picture-items {
    display: flex;
    flex-direction: row;
}
.order-picture-items img {
    width: calc(50% - 1rem);
    margin-left: 1rem;
    border: 1px solid #d2d2d2;
}

.validate .validate-error {
    display: block;
    position: absolute;
    left: calc(50% - 10rem);
    font-size: 1.2rem;
    background-color: red;
    width: 20rem;
    text-align: center;
    color: white;
    top: calc(100% + 1.3rem);
    border-radius: 5px;
    z-index: 2;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.validate .validate-error:before {
    content: '';
    border-top: 1rem solid transparent;
    border-left: 1rem solid #ffffff00;
    border-right: 1rem solid #52444400;
    border-bottom: 1rem solid red;
    position: absolute;
    left: 9rem;
    top: -2rem;
}
.validate input {
    border: 2px solid red;
}
.validate textarea {
    border: 2px solid red;
}

.validate .select2-selection
{
    border: 2px solid red !important;
}

.valid input {
    border: 2px solid #4CAF50;
}

.valid textarea {
    border: 2px solid #4CAF50;
}

.valid .select2-selection
{
    border: 2px solid #4CAF50 !important;
}

.order-distance {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.order-distance span:first-child {
    font-weight: bold;
    margin-left: 10px;
    width: 30%;
    text-align: right;
}
.order-distance #lbl_order_distance {
    width: 70%;
    text-align: right;
}


.order-time-left {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.order-time-left span:first-child {
    font-weight: bold;
    margin-left: 10px;
    width: 30%;
    text-align: right;
}

.order-time-left #order_time_left {
    width: 70%;
    text-align: right;
}



.order-type-rent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    justify-content: space-around;
}

.order-rent-type-item {
    margin-left: 30px;
}

.order-compute-rent {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}


.order-rent-info {
    display: flex;
    flex-direction: row;
}

.order-rent-info span:first-child {
    font-weight: bold;
    width: 20%;
    text-align: right;
}

.order-rent-input-box {
    margin-right: 15px;
    display: flex;
    width: 80%;
}
.order-rent-input-box input {
    width: 100%;
    margin-left: 10px;
    border: 1px solid #e5a894;
    padding: 5px;
}

.order-delivery-card-content {
    width: calc(50% - 1rem);
    position: relative;
    /* border: 1px solid #4682b4; */
    padding: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    margin-bottom: 5rem;
    line-height: 30px;
}





.order-paking-type {
    display: flex;
}

.order-paking-type span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-paking-type #lbl_packing_type {
    width: 70%;
    text-align: right;
}
.order-cargo-type {
    display: flex;
}

.order-cargo-type span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-cargo-type #lbl_cargo_type {
    width: 70%;
    text-align: right;
}

.order-value-box {
    display: flex;
}

.order-value-box span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-value-box #lbl_order_value {
    width: 70%;
    text-align: right;
}

.order-weight-box {
    display: flex;
}

.order-weight-box span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-weight-box #lbl_weight {
    width: 70%;
    text-align: right;
}

.order-qty-box {
    display: flex;
}

.order-qty-box span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-qty-box #lbl_qty {
    width: 70%;
    text-align: right;
}

.order-sender-name
{
    display: flex;
}

.order-sender-name span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-sender-name #lbl_sender_name
{
    width: 70%;
    text-align: right;
    overflow-wrap: anywhere;
}

.order-sender-time
{
    display: flex;
}

.order-sender-time span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-sender-time #lbl_sender_time
{
    width: 70%;
    text-align: right;
}

.order-sender-date
{
    display: flex;
}

.order-sender-date span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-sender-date #lbl_sender_date
{
    width: 70%;
    text-align: right;
}

.order-sender-address
{
    display: flex;
}

.order-sender-address span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-sender-address #lbl_sender_address
{
    width: 70%;
    text-align: right;
    overflow-wrap: anywhere;
}

.order-delivery-name
{
    display: flex;
}

.order-delivery-name span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-delivery-name #lbl_delivery_name
{
    width: 70%;
    text-align: right;
    overflow-wrap: anywhere;
}


.order-delivery-time
{
    display: flex;
}

.order-delivery-time span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-delivery-time #lbl_delivery_time
{
    width: 70%;
    text-align: right;
}

.order-delivery-date
{
    display: flex;
}

.order-delivery-date span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}

.order-delivery-date #lbl_delivery_date
{
    width: 70%;
    text-align: right;
}

.order-delivery-address
{
    display: flex;
}

.order-delivery-address span:first-child
{
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-delivery-address #lbl_delivery_address
{
    width: 70%;
    text-align: right;
    overflow-wrap: anywhere;
}

#lbl_complete_description {
    width: 70%;
    overflow-wrap: anywhere;
    text-align: right;
}

.order-truck-type {
    display: flex;
}

.order-truck-type span:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.order-truck-type #lbl_truck_type {
    width: 70%;
    text-align: right;
}
#sender_map {
    width: 100%;
    height: 100%;
}

#delivery_map {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
}
