.plan-btn {
    background-color: #FF5722!important;
    color: white!important;
    margin: 0;
    font-size: 1.4rem;
    margin-right: 20px;
    margin-bottom: 6px;
    padding: 5px 8px 5px 8px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.7s;
    border: 1px solid #585858;
    display: block;
    line-height: 29px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.plan-btn:hover {
    background-color: white !important;
    color: #FF5722 !important;
    text-decoration: none;
    font-weight: bold;
}

.btn-buy {
    color: #28a745;
    margin: 0;
    font-size: 1.4rem;
    margin-right: 20px;
    margin-bottom: 6px;
    padding: 5px 8px 5px 8px;
    padding-right: 10px;
    text-align: center;
    background-color: #00000047;
    text-decoration: none;
    transition: 0.7s;
    border: 1px solid #585858;
    display: block;
    line-height: 29px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    flex-grow: 1;
    max-width: 130px;
}
.btn-buy:hover {
    text-decoration: none;
}



.alert-btn {
    background-color: #28a745 !important;
    color: white !important;
}




.alert-btn:hover {
    background-color: white !important;
    color: #28a745 !important;
    font-weight: bold;
}


.bell-box a {
    color: #ffa000;
    text-shadow: 1px 2px 3px #ffa000;
}

.bell-box a:hover {
    color: #ffffff;
    text-shadow: 1px 2px 3px #474746;
}


.bell-box {
    position: absolute;
    right: -170px;
    font-size: 23px;
    top: -11px;
}

span.ticket_count {
    position: absolute;
    right: 50%;
    top: 10px;
    background-color: #FF5722;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    line-height: 24px;
    color: white;
    font-size: 12px;
}

.ring_animate {
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

.shake_animate {
    -webkit-animation: shake 2s 2s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: shake 2s 2s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: shake 2s 2s ease-in-out infinite;
    transform-origin: 50% 4px;
}



@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}



@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    2% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    5% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    10% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    12% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    15% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    18% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    20% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    22% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    25% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    27% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}


@keyframes toggleView {
    0% {
        color: #e0e0e0;
        border: 1px solid #868686d4;
        background-color: #0000004a;
    }
    /*10% {*/
    /*  */
    /*}*/
    /*20% {*/
    /*    opacity: 0.3;*/
    /*}*/
    30% {


        color: black;
        border: 1px solid #e0e0e0;
        background-color: #e0e0e0;
    }
    /*40% {*/
    /*    opacity: 0.4;*/
    /*}*/
    /*50% {*/
    /*    opacity: 0.5;*/
    /*}*/
    /*60% {*/
    /*    opacity: 0.6;*/
    /*}*/
    70% {
        color: #e0e0e0;
        border: 1px solid #868686d4;
        background-color: #0000004a;
    }
    /*80% {*/
    /*    opacity: 0.8;*/
    /*}*/
    /*90% {*/
    /*    opacity: 0.9;*/
    /*}*/
    /*100% {*/
    /*    color: #0000004a;*/
    /*    border: 1px solid #e0e0e0;*/
    /*    background-color: #e0e0e0;*/
    /*}*/
}

.view_animate {
    animation: toggleView 2s;
    animation-iteration-count: infinite;
}

[class^=swal2] {
    font-size: 1.5rem;
}

ul.sub-menu {
    list-style: none;
}
.btn-reminder:hover {
    text-decoration: none;
    color: #E53935;
    background-color: #F5F5F5;
}

.btn-reminder {
    color: #F5F5F5;
    margin: 0;
    font-size: 1.4rem;
    margin-right: 20px;
    margin-bottom: 6px;
    padding: 5px 8px 5px 8px;
    padding-right: 10px;
    text-align: center;
    background-color: #E53936;
    text-decoration: none;
    transition: 0.7s;
    border: 1px solid #585858;
    display: block;
    /* width: 100%; */
    /* height: 100%; */
    line-height: 29px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    flex-grow: 1;
}
.os-padding {
    z-index: auto !important;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.payment-project {
    position: absolute;
    top: 0;
    left: 110px;
    display: flex;
    width: 250px;
    flex-direction: row;
    justify-content: flex-end;
}

.sidenav_back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.31);
    z-index: 1100;
}

.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;

    transition: 0.4s;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.account-tab-main {
    text-align: center;
}


.packet-top-info {
    color: white;
    position: absolute;
    top: 10px;
    right: 100px;
    margin-top: 5px;
    width: 100%;
}

.credit-top-total {
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    margin-left: 8px;
    margin-bottom: 6px;
    border: 1px solid #ffa000;
    /* padding: 5px 10px 5px 10px; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    background-color: #ffa000;
    position: absolute;
    top: -16px;
    left: 420px;
    width: 80px;
    padding-top: 5px;
    font-family: 'aviny';
    padding-bottom: 5px;
}

.packet-top-day {
    color: #e0e0e0;
    margin: 0;
    font-size: 2rem;
    margin-left: 8px;
    margin-bottom: 6px;
    border: 1px solid #5a656a;
    /* padding: 5px 10px 5px 10px; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    background-color: #37474f;
    position: absolute;
    top: -16px;
    left: 273px;
    width: 130px;
    padding-top: 5px;
    font-family: 'aviny';
    padding-bottom: 5px;
}

.packet-top-project {
    color: #e0e0e0;
    margin: 0;
    font-size: 2rem;
    margin-left: 8px;
    margin-bottom: 6px;
    border: 1px solid #5a656a;
    /* padding: 5px 10px 5px 10px; */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    background-color: #37474f;
    position: absolute;
    top: -16px;
    left: 107px;
    width: 150px;
    padding-top: 5px;
    font-family: 'aviny';
    padding-bottom: 5px;
}

.packet-top-box {
    /* font-size: 25px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    width: 420px;
    position: relative;
}


