@font-face {    
    font-family: 'sans';
	src: url('IRANSansWebFaNum.eot');
	src: url('IRANSansWebFaNum.eot?#iefix') format('embedded-opentype'),
		url('IRANSansWebFaNum.woff2') format('woff2'),
		url('IRANSansWebFaNum.woff') format('woff'),
		url('IRANSansWebFaNum.ttf') format('truetype'),
		url('IRANSansWebFaNum.svg#IRANSansWebFaNum') format('svg');
	font-weight: normal;
	font-style: normal;
}

